body{
    background-color:rgb(167, 140, 255);
}

/*
GRIDS LAYOUTS
*/

.grid-container{
    display: grid;
    height: 80vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/*
OBJETOS
*/
label{
    display: block;
    font-size: 2rem;
}

input[type=password]{
    width: 12em;
    height: 2em;
    margin-top: 10px;
    margin-left: 0px;
}

input[type=button]{
    width: 1.7em;
    height: 2.5rem;
    transform: translateX(-7px);
}

#btn-forgotpassword{
    width: max-content !important;
    display: block;
    background-color: transparent;
    border: none;
    margin: auto;
    text-decoration: underline rgb(162, 255, 162);
}

/*
IMGs
*/

img.profile_pic{
    width: 200px;
}

img.pic{
    width: 100px;
}

/*
EVENTOS
*/

input[type=password]:focus{
    outline:none;
}


input[type=button]:hover{
    cursor: pointer;
}
