body{
    background-color: #6D6CCC;
}

img {
    width: 150px;
    border-radius: 100px;
}

form input{
    position: relative;
    bottom: 15px;
    width: 12em;
    height: 1.5em;
}

.div_login_form h1{
    position: relative;
    left: 1.7em;
    text-transform: uppercase;
}